<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   Diary App

   Created by Sofia Digital on 23/10/2017.
   Copyright (c) 2017 Heikki Hämälistö. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
